/* bump down content */
.content {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* using a blue-heading in a panel without the blue border */
.blue-heading { background-color: #337ab7!important }
.blue-heading > strong, .blue-heading > p, .blue-heading > h1 { color: white; }

.form-group { margin-bottom: .5rem; }

/* smaller */
.card-header { padding: .25rem .75rem; }
.card-body { padding: .75rem; }
p strong label { font-size: .875rem; }

/* eventually change this column-count to 2 or 3
and surround the app in container-fluid when more funtionality is added to the dash */
@media (min-width: 575px) {
  .card-columns {
    column-count: 2;
  }
}

/*@media (min-height: 200px) {
  footer .footer {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
}*/


footer .footer {
  /*border-top: 1px solid #333;*/
  background: #212529;
  text-align: center;
  color: #666;

  padding-top: 15px;
  padding-bottom: 15px;

  /* page too short*/
  bottom: 0;
  position: fixed;
  width: 100%;
}

footer .footer p {
  margin:0;
}

footer .footer a {
  color: #666;
  font-weight: bold;
}

footer .footer a:hover {
  color: #fff;
  text-decoration: none;
}