<style>
  .scrollable {
    overflow-x: auto;
  }

  .dropdown-menu {
    top: -245%;
    left: 155px;
  }

  .dropdown-menu > a:focus{
    background-color: #17a2b8;
  }

  .checkmark {
    color: #17a2b8;
  }

  .dropdown-item {
    padding-left: 7px;
  }

  .invisible {
    visibility: hidden;
  }

</style>
  
<div ng-controller="StatRollerCtrl as statroller" ng-cloak>

  <div class="card">
      <div class="card-header text-white bg-info handle" ng-dblclick="statroller.isCollapsed = !statroller.isCollapsed" data-as-sortable-item-handle>
        <strong>Stat Roller</strong>
        <a class="float-right" ng-click="statroller.isCollapsed = !statroller.isCollapsed">
          <div ng-if="!statroller.isCollapsed">
            <i class="fa fa-chevron-down"></i>
          </div>
          <div ng-if="statroller.isCollapsed">
            <i class="fa fa-chevron-right"></i>
          </div>
        </a>
      </div>
      <div class="card-body" uib-collapse="statroller.isCollapsed">
        <div class="card-text">
  

            <form name="statRollerForm">
              
              <div class="form-group row">
                <div class="col">
                  <select class="form-control form-control-sm custom-select" ng-model="statroller.selectedRace" ng-change="statroller.resetSubrace()">
                    <option value="-1">-- Race --</option>
                    <option ng-repeat="race in statroller.races" value="{{$index}}">{{race.name}}</option>
                  </select>
                </div>
                <div class="col" ng-if="statroller.hasSubrace()">
                  <select class="form-control form-control-sm custom-select" ng-model="statroller.selectedSubrace">
                      <option value="-1">-- Subrace --</option>
                    <option ng-repeat="subrace in statroller.getSubrace()" value="{{$index}}">{{subrace.name}}</option>
                  </select>
                </div>
              </div>


              <div class="form-group scrollable">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <td>STR</td>
                      <td>DEX</td>
                      <td>CON</td>
                      <td>INT</td>
                      <td>WIS</td>
                      <td>CHR</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><p>12</p><p>+1</p></td>
                      <td>23</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>


              </div>

              <!-- Roll / roll type buttons -->
              <div class="form-group">
                <div class="btn-group" uib-dropdown>
                    <button type="submit" class="btn btn-info btn-sm" ng-disabled="statroller.isDisabled()" ng-click="statroller.rollStats()" disabled="disabled">Roll Stats</button>
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" uib-dropdown-toggle>method </button>
                    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                      <a href="#" class="dropdown-item"><i class="checkmark fa fa-check fa-sm" aria-hidden="true"></i> 4d6 Drop Lowest</a>
                      <a href="#" class="dropdown-item"><i class="checkmark fa fa-check fa-sm invisible" aria-hidden="true"></i> 4d6 Keep All</a>
                      <a href="#" class="dropdown-item"><i class="checkmark fa fa-check fa-sm invisible" aria-hidden="true"></i> 3d6 Best of 3</a>
                      <!-- <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">Custom</a> -->
                    </div>
                </div>
              </div>


            </form>

  
        </div>
      </div>
    </div>

</div>