<style>
  .dropdown-menu > a:hover {
    cursor: pointer;
  }

  .dropdown-menu > a:focus{
    background-color: #17a2b8;
  }
  
  .checkmark {
    color: #17a2b8;
  }

  .dropdown-item.active, .dropdown-item:active {
      color: #fff !important;
      text-decoration: none;
      background-color: #17a2b8;
  }
</style>

<div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
  <a class="dropdown-item" aria-hidden="true" ng-repeat="(option, value) in DCSelect.options" ng-click="DCSelect.selectOption(option)"><i class="checkmark fa fa-check fa-sm" ng-class="(DCSelect.selected == option) ? '' : 'invisible'" aria-hidden="true"></i> {{option}}</a>
</div>