<!-- Controller is referenced to template via view-home-controller  -->

<link rel="stylesheet" href="components/view-home/view-home.style.css">

<div class="content">
  <div class="card-columns">

    <div class="card">
      <div class="card-header text-white bg-info">
        <strong>Split Loot</strong>
      </div>
      <div class="card-body">
        <div class="card-text">

              <form name="lootForm" class="form-horizontal" ng-submit="home.split()">

                <div class="form-group">
                  <label for="home.numparty" class="col-sm-4 control-label">Num Party</label>
                  <input class="col-sm-4" type="number" style="width: 5rem" min="1" name="home.numparty" data-ng-model="home.numparty" />
                </div>

                <div class="form-group">
                  <label for="home.copper" class="col-sm-4 control-label">Copper (cp)</label>
                  <input class="col-sm-7" type="number" min="0" name="home.copper" data-ng-model="home.loot.copper" />
                </div>

                <div class="form-group">
                  <label for="home.silver" class="col-sm-4 control-label">Silver (sp)</label>
                  <input class="col-sm-7" type="number" min="0" name="home.silver" data-ng-model="home.loot.silver" />
                </div>

                <div class="form-group">
                    <label for="home.electrum" class="col-sm-4 control-label">Electrum (ep)</label>
                    <input class="col-sm-7" type="number" min="0" name="home.electrum" data-ng-model="home.loot.electrum" />
                  </div>

                <div class="form-group">
                  <label for="home.gold" class="col-sm-4 control-label">Gold (gp)</label>
                  <input class="col-sm-7" type="number" min="0" name="home.gold" data-ng-model="home.loot.gold" />
                </div>

                <div class="form-group">
                  <label for="home.platinum" class="col-sm-4 control-label">Platinum (pp)</label>
                  <input class="col-sm-7" type="number" min="0" name="home.platinum" data-ng-model="home.loot.platinum" />
                </div>

                <div class="form-group">
                  <label for="home.numparty" class="col-sm-4"></label><!-- offset-sm-4 is acting strangely -->
                  <div style="display:inline-block">
                    <input type="checkbox" data-ng-model="home.convert"/>&ThinSpace;
                    <label for="home.convert" class="col-form-label text-fix">Convert currency?</label>
                  </div>
                </div>
                
                <div class="form-group">
                  <button type="submit" ng-disabled="home.isDisabled()" class="btn btn-info" ng-click="home.split(); showLootResults = true">Split Loot</button>
                  <button type="button" class="btn btn-default ng-cloak" ng-hide="home.clearButton" ng-click="home.clear(); showLootResults = false">Clear</button>
                </div>
              </form>

              <div ng-if="showLootResults">
                <div class="row">
                  <div class="col-sm-6">
                    <strong>Each party member gets</strong>
                    <p>
                      <div ng-if="home.lootReturn.split_evenly.copper > 0">{{home.lootReturn.split_evenly.copper}} copper</div>
                      <div ng-if="home.lootReturn.split_evenly.silver > 0">{{home.lootReturn.split_evenly.silver}} silver</div>
                      <div ng-if="home.lootReturn.split_evenly.electrum > 0">{{home.lootReturn.split_evenly.electrum}} electrum</div>
                      <div ng-if="home.lootReturn.split_evenly.gold > 0">{{home.lootReturn.split_evenly.gold}} gold</div>
                      <div ng-if="home.lootReturn.split_evenly.platinum > 0">{{home.lootReturn.split_evenly.platinum}} platinum</div>
                    </p>
                  </div>
                  <div class="col-sm-6" ng-hide="home.isRemainder()">
                    <strong>Remaining</strong>
                    <p>
                      <div ng-if="home.lootReturn.remainder.copper > 0">{{home.lootReturn.remainder.copper}} copper</div>
                      <div ng-if="home.lootReturn.remainder.silver > 0">{{home.lootReturn.remainder.silver}} silver</div>
                      <div ng-if="home.lootReturn.remainder.electrum > 0">{{home.lootReturn.remainder.electrum}} electrum</div>
                      <div ng-if="home.lootReturn.remainder.gold > 0">{{home.lootReturn.remainder.gold}} gold</div>
                      <div ng-if="home.lootReturn.remainder.platinum > 0">{{home.lootReturn.remainder.platinum}} platinum</div>
                    </p>
                  </div>
                </div>

                
                
                
                <!-- debug -->
                <!--<p>{{home.lootReturn}}</p>-->
              </div>


          

          <!--<input type="number" min="1" data-ng-model="home.numparty" />-->
          <!--<p>{{home.lootReturn}}</p>-->


          
        </div>
      </div>
    </div>

  </div>
</div>


