<!-- Controller is referenced to template via view-home-controller  -->

<link rel="stylesheet" href="components/view-home/view-home.style.css">


<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div collapse="navCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <button type="button" class="btn btn-outline-info btn-sm">
      <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
    </button>
  </div>
</nav>-->

<nav class="navbar navbar-expand navbar-dark bg-dark py-0">
  <a class="navbar-brand" href="#!/home">DnDash</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link py-0" href="#!/home">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-0" href="#!/about">About</a>
      </li>
    </ul>
    <!-- hiding settings for now -->
    <!--<button type="button" class="btn btn-outline-info btn-sm">
      <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
    </button>-->
  </div>
</nav>


<!-- modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        Modal body..
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<div class="dash-content container-fluid">

  <div class="card-columns">

    <!--
    <ul data-as-sortable data-ng-model="sortableList">
      <li ng-repeat="item in sortableList" data-as-sortable-item>
        <div data-as-sortable-item-handle>
          index: {{$index}} | id: {{item.id}} | title: {{item.title}}
        </div>
      </li>
    </ul>
    -->

    <div data-as-sortable data-ng-model="home.plugins">
      <div ng-repeat="plugin in home.plugins" data-as-sortable-item>
        <!--<div data-as-sortable-item-handle>-->
            <div ng-include="plugin" ng-cloak></div>
        <!--</div>-->
      </div>
    </div>

    <!--
    <div ui-sortable="sortableOptions" ng-model="home.plugins">
      <div ng-repeat="plugin in home.plugins" ng-cloak>
        <div ng-include="plugin" ng-cloak></div>
      </div>
    </div>
    -->

  </div>
</div>