<!-- home-settings content -->
<!-- <script defer src="components/settings-modal/settings-modal.js"></script> -->

<!-- Controller is referenced to template via view-home-controller  -->

<link rel="stylesheet" href="components/view-home/view-home.style.css">

<nav class="navbar navbar-expand navbar-dark bg-dark py-0">
  <a class="navbar-brand" href="#!/home">DnDash</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link py-0" href="#!/home">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-0" href="#!/about">About</a>
      </li>
    </ul>
    <!-- hiding settings for now -->
    <button type="button" class="btn btn-outline-info btn-sm" ng-click="home.open()">
      <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
    </button>
  </div>
</nav>






<!-- modal-->
<script type="text/ng-template" id="settings-modal.template.html">
  <div class="modal-header">
      <h3 class="modal-title">I'm a modal!</h3>
  </div>
  <div class="modal-body">
      <p>text</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>







<div class="dash-content container-fluid">
  <div class="card-columns">

    <!-- Fix ng-cloak-->
    <div data-as-sortable data-ng-model="home.plugins">
      <div ng-repeat="plugin in home.plugins" data-as-sortable-item>
        <div ng-include="plugin" ng-cloak></div>
      </div>
    </div>

  </div>
</div>