<h1>Combat Actions</h1>
<hr />
<h2>Blinded</h2>
<p>You make a melee or ranged weapon attack.</p>
<h2>Cast a Spell</h2>
<p>You cast a cantrip or spell of 1st level or higher.  See the spell casting time.</p>
<h2>Dash</h2>
<p>You gain extra movement equal to you speed (plus any modifiers) for the current turn.</p>
<h2>Disengage</h2>
<p>Your movement doesn't provoke opportunity attacks for the rest of the turn.</p>
<h2>Dodge</h2>
<p>Until the start of your next turn, any attack roll made against you has disadvantage if you can see the attacker, and you make Dexterity saving throws awith advantage.  You lose this benefit if you are incapacitated or if you speed drops to 0.</p>
<h2>Help</h2>
<p>You help one creature with a task, given that creature advantage on the next ability check it makes for that task.  Or you distract one creature within 5 feet of you, and the next attack roll that any ally of yours makes against that creature has advantage.</p>
<p>Whichever option you choose, the advantage goes away once used or when your next turn starts.</p>
<h2>Hide</h2>
<p>You make a Dexterity (Stealth) check in an attempt to become hidden — unseen and unheard</p>
<h2>Ready</h2>
<p>You wait for a particular circumstance before you act, which lets you act using your reaction before the start of your next turn.  You must decide in advance (a) what perceivable circumstance will trigger your reaction and (b) the action you will take in response to that trigger.</p>
<p>If you ready a spell, it must have a casting time of 1 action, and you must concentrate on it untill you release it.</p>
<h2>Search</h2>
<p>Yoiu make a Wisdom (Perception) check or an Intelligence (Investigation) check to find something.</p>
<h2>Use a Magic Item</h2>
<p>You use a magic item that requires your action for its use.</p>
<h2>Use an Object</h2>
<p>You use an object, other than a magic item, that requires your action for its use.</p>
<h2>Use a Special Ability</h2>
<p>You use a class feature or other special ability that requires your action for its use.</p>