<h2>Blinded</h2>
<ul>
  <li>A blinded creature can't see and automatically fails an ability check that requires sight.</li>
  <li>Attack rolls against this creature have advantage, and the creature's attack rolls have disadvantage.</li>
</ul>
<h2>Charmed</h2>
<ul>
  <li>A charmed creature can't attack the charmer or target the cahrmer with harmful abilities or magical effects.</li>
  <li>The charmer has advantage on any ability check to interact socially with the creature.</li>
</ul>
<h2>Deafened</h2>
<ul>
  <li>a deafened creature can't hear and automatically fails any ability check that requires hearing</li>
</ul>
<h2>Frightened</h2>
<ul>
  <li>A frightened creature has disadvantage on ability checks and attack rolls while the source of its fear is within line of sight.</li>
  <li>The creature can't willingly move closer to the source of its fear.</li>
</ul>
<h2>Grappled</h2>
<ul>
  <li>A grappled creature's speed becomes 0, and it can't benefit from any bonus to its speed.</li>
  <li>The condition ends if the grappler is incapacitated (see condition).</li>
  <li>The condition also ends if an effect removes the grappled creature from the reach of the grappler or grappling effect, such as when a creature is hurled away by the <i>thunderwave</i> spell.</li>
</ul>
<h2>Incapacitated</h2>
<ul>
  <li>An incapacitated creature can't take actions or reactions.</li>
</ul>
<h2>Invisible</h2>
<ul>
  <li>An invisible creature is impossible to see without the aid of magic or a special sense.  For the purpose of hiding, the creature is heavily obscured.  The creature's location can be detected by any noise it makes or any tracks it leaves.</li>
  <li>Attack rolls against the creature have disadvantage, and the creature's attack rolls have advantage.</li>
</ul>
<h2>Paralyzed</h2>
<ul>
  <li>A paralyzed creature is incapacitated (see the condition) and can't move or speak.</li>
  <li>The creature automatically fails Strength and Dexterity saving throws.</li>
  <li>Attack rolls against the creature have advantage.</li>
  <li>Any attack that hits the creature is a critical hit if the attacker is within 5 feet of the creature.</li>
</ul>
<h2>Petrified</h2>
<ul>
  <li>A petrified creature is transformed, along with any nonmagical object it is wearing or carrying, into a solid inanimate substance (usually stone).  Its weight increases by a factor of ten, and it seases aging.</li>
  <li>The creature is incapacitated (see the condition), can't move or speak, and is unaware of its surroundings.</li>
  <li>Attack rolls against the creature have advantage.</li>
  <li>The creature automatically fails Strength and Dexterity saving throws.</li>
  <li>The creature has resistance to all damage.</li>
  <li>The creature is immune to poison and disease, although a poison or disease already in its system is suspended, not neutralized.</li>
</ul>
<h2>Poisoned</h2>
<ul>
  <li>A poisoned creature has disadvantage on attack rolls and ability checks.</li>
</ul>
<h2>Prone</h2>
<ul>
  <li>A prone creature's only movement option is to crawl, unless it stands up and thereby ends the condition.</li>
  <li>The creature has disadvantage on attack rolls.</li>
  <li>An attack roll against the creature has advantage if the attacker is within 5 feet of the creature.  Otherwise, the attack roll has disadvantage.</li>
</ul>
<h2>Restrained</h2>
<ul>
  <li>A restrained creature's speed becomes 0, and it can't benefit from any bonus to its speed.</li>
  <li>Attack rolls against the creature have advantage, and the creature's attack rolls have disadvantage.</li>
  <li>The creature had disadvantage on Dexterity saving throws.</li>
  <li>Attack rolls gainst the creature have advantage.</li>
</ul>
<h2>Stunned</h2>
<ul>
  <li>A stunned creature is incapacitated (see condition), can't move, and can't speak only falteringly.</li>
  <li>The creature automatically fails Strength and Dexterity saving throws.</li>
  <li>Attack rolls against the creature have advantage.</li>
</ul>
<h2>Unconscious</h2>
<ul>
  <li>An unconscious creature is incapacitated (see the condition), can't move or speak, and is unaware of its surroundings.</li>
  <li>The creature drops whatever it's holding and falls prone.</li>
  <li>The creature automatically fails Strength and Dexterity saving throws.</li>
  <li>Attack rolls against the creature have advantage.</li>
  <li>Any attack that hits the creature is a critical hit if the attacker is within 5 feet of the creature.</li>
</ul>
<h2>Exhaustion</h2>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <td><strong>Level</strong></td>
      <td><strong>Effect</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Disadvantage on ability checks</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Speed halved</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Disadvantage on attack rolls and saving throws</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Hit point maximum halved</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Speed reduced to 0</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Death</td>
    </tr>
  </tbody>
</table>