<!-- Controller is referenced to template via view-home-controller  -->

<link rel="stylesheet" href="components/view-about/view-about.style.css">

<!--<nav class="navbar navbar-sm navbar-dark bg-dark">
  <a class="navbar-brand nav-link py-0" href="#!/home">DnDash</a>
</nav>-->

<nav class="navbar navbar-expand navbar-dark bg-dark py-0">
  <a class="navbar-brand" href="#!/home">DnDash</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link py-0" href="#!/home">Home
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link py-0" href="#!/about">About</a>
      </li>
    </ul>
  </div>
</nav>


<div class="content container">
<div class="centerstuff">
  <h1>Welcome to DnDash!</h1>
  <h3>A DnD dash board application written with AngularJS</h3>

  <br/>
  <p>Contains functionality for...</p>
  <ul>
    <li>Loot splitting</li>
    <li>Currency conversion</li>
    <li>Die rolling</li>
  </ul>
</div>

</div>

<footer>
  <div class="footer navbar-dark">
    <div class="">
      <p>Created by Seth Thomas (deadSnowman)</p>
      <p>Fork me on
        <a href="https://github.com/deadSnowman/dndash">Github</a>
      </p>
    </div>
  </div>
</footer>