<!-- Controller is referenced to template via view-home-controller  -->

<link rel="stylesheet" href="components/view-about/view-about.style.css">

<div class="outer-container">
      
  <nav class="navbar navbar-expand navbar-dark bg-dark py-0">
    <a class="navbar-brand" href="#!/home">DnDash</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link py-0" href="#!/home">Home
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link py-0" href="#!/about">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content container body">
    <div class="row">
      <div class="col-sm-6">
        <div class="centerstuff">
          <h1>Welcome to DnDash!</h1>
          <h3>A DnD dash board application written with AngularJS</h3>
          <br/>
          <p>Contains functionality for...</p>
          <ul>
            <li>Loot splitting</li>
            <li>Currency conversion</li>
            <li>Die rolling</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="images/ledrungorogin_colored.png" style="width:100%; height:100%; object-fit: contain;" />
      </div>
    </div>
  </div>

  <footer>
    <div class="footer navbar-dark">
      <div class="">
        <p>Copyright &copy; 2018 Seth Thomas (deadSnowman)</p>
        <p>Fork me on
          <a href="https://github.com/deadSnowman/dndash">Github</a>
        </p>
        <p>Check out my other site <a href="http://www.dsm-comics.com">DSM Comics</a></p>
      </div>
    </div>
  </footer>

</div>