<div ng-controller="DiceRollerCtrl as diceroller">
  <!--<link rel="stylesheet" href="components/view-home/view-home.style.css">-->

  <div class="card">
    <div class="card-header text-white bg-info handle">
      <strong>Die Roller</strong>
      <a class="float-right" ng-click="diceroller.isCollapsed = !diceroller.isCollapsed">
        <div ng-if="!diceroller.isCollapsed">
          <i class="fa fa-chevron-down"></i>
        </div>
        <div ng-if="diceroller.isCollapsed">
          <i class="fa fa-chevron-up"></i>
        </div>
      </a>
    </div>
    <div class="card-body" collapse="diceroller.isCollapsed">
      <div class="card-text">

        <form name="dieRollerForm" ng-submit="diceroller.submit()">
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-fixed">
                  <button type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(4)" ng-disabled="diceroller.amnt.d4 == null || diceroller.amnt.d4 == 0">d4</button>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amount" ng-model="diceroller.amnt.d4"
                  />
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d4" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d4" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d4" placeholder="modifier"
                  />
                </div>
              </div>
            </div>
            <!--<div ng-if="diceroller.results.d4">
              <div class="col">
                <p>{{diceroller.results.d4}}</p>
              </div>
            </div>-->
          </div>
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-fixed">
                  <button type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(8)" ng-disabled="diceroller.amnt.d8 == null || diceroller.amnt.d8 == 0">d8</button>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amount" ng-model="diceroller.amnt.d8"
                  />
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d8" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d8" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d8" placeholder="modifier"
                  />
                </div>
              </div>
            </div>
            <!--<div ng-if="diceroller.results.d8">
              <div class="col">
                <p>{{diceroller.results.d8}}</p>
              </div>
            </div>-->
          </div>
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-fixed">
                  <button type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(10)" ng-disabled="diceroller.amnt.d10 == null || diceroller.amnt.d10 == 0">d10</button>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amount" ng-model="diceroller.amnt.d10"
                  />
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d10" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d10" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d10" placeholder="modifier"
                  />
                </div>
              </div>
            </div>
            <!--<div ng-if="diceroller.results.d10">
              <div class="col">
                <p>{{diceroller.results.d10}}</p>
              </div>
            </div>-->
          </div>
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-fixed">
                  <button type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(100)" ng-disabled="diceroller.amnt.d100 == null || diceroller.amnt.d100 == 0">d100</button>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amount" ng-model="diceroller.amnt.d100"
                  />
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d100" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d100" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d100" placeholder="modifier"
                  />
                </div>
              </div>
            </div>
            <!--<div ng-if="diceroller.results.d100">
              <div class="col">
                <p>{{diceroller.results.d100}}</p>
              </div>
            </div>-->
          </div>
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-fixed">
                  <button type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(12)" ng-disabled="diceroller.amnt.d12 == null || diceroller.amnt.d12 == 0">d12</button>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amount" ng-model="diceroller.amnt.d12"
                  />
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d12" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d12" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d12" placeholder="modifier"
                  />
                </div>
              </div>
            </div>
            <!--<div ng-if="diceroller.results.d12">
              <div class="col">
                <p>{{diceroller.results.d12}}</p>
              </div>
            </div>-->
          </div>
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-fixed">
                  <button type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(20)" ng-disabled="diceroller.amnt.d20 == null || diceroller.amnt.d20 == 0">d20</button>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amount" ng-model="diceroller.amnt.d20"
                  />
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d20" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d20" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d20" placeholder="modifier"
                  />
                </div>
              </div>
            </div>
            <!--<div ng-if="diceroller.results.d20">
              <div class="col">
                <p>{{diceroller.results.d20}}</p>
              </div>
            </div>-->
          </div>

          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col-fixed">
                  <button type="submit" class="btn btn-info btn-sm" ng-disabled="diceroller.totalDisabled()">Roll all</button>
                </div>
                <div class="col-fixed">
                  <button type="button" class="btn btn-light btn-sm ng-cloak" ng-hide="diceroller.clearButton" ng-click="diceroller.clear()">Clear</button>
                </div>
              </div>
            </div>
            <div>
              <div class="col" ng-if="diceroller.total">
                <p>
                  <strong>Total:</strong> {{diceroller.total}}</p>
              </div>
            </div>
          </div>
          <div class="form-row form-group" ng-if="diceroller.total">
            <div class="col">
              <label for="resultsHistory">
                <strong>Results</strong>
              </label>
              <textarea id="resultsHistory" class="form-control" rows="4" readonly>{{diceroller.results.d4}} + {{diceroller.results.d8}} + {{diceroller.results.d10}} + {{diceroller.results.d100}} + {{diceroller.results.d12}} + {{diceroller.results.d20}}</textarea>
            </div>
          </div>

        </form>
      </div>



    </div>
  </div>
</div>

</div>