<div ng-controller="DiceRollerCtrl as diceroller" ng-cloak>
  <!--<link rel="stylesheet" href="components/view-home/view-home.style.css">-->

  <div class="card">
    <div class="card-header text-white bg-info handle">
      <strong>Die Roller</strong>
      <a class="float-right" ng-click="diceroller.isCollapsed = !diceroller.isCollapsed">
        <div ng-if="!diceroller.isCollapsed">
          <i class="fa fa-chevron-down"></i>
        </div>
        <div ng-if="diceroller.isCollapsed">
          <i class="fa fa-chevron-up"></i>
        </div>
      </a>
    </div>
    <div class="card-body" collapse="diceroller.isCollapsed">
      <div class="card-text">

        <form name="dieRollerForm" ng-submit="diceroller.submit()">

          <!-- d4 -->
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <!-- ng-disabled="diceroller.amnt.d4 == null || diceroller.amnt.d4 == 0" -->
                      <button style="width: 50px;" type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(4)">d4</button>
                    </div>
                    <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amnt" ng-model="diceroller.amnt.d4">
                  </div>
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info radfix" ng-model="diceroller.radioModifier.d4" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info radfix" ng-model="diceroller.radioModifier.d4" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d4" placeholder="modifier">
                </div>
                <div class="col-sm-2">
                  <input class="form-control form-control-sm" type="text" placeholder="result" value="{{diceroller.results.d4}}" readonly>
                </div>
              </div>
            </div>
          </div>


          <!-- d6 -->
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <!-- ng-disabled="diceroller.amnt.d6 == null || diceroller.amnt.d6 == 0" -->
                      <button style="width: 50px;" type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(6)">d6</button>
                    </div>
                    <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amnt" ng-model="diceroller.amnt.d6">
                  </div>
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d6" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d6" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d6" placeholder="modifier">
                </div>
                <div class="col-sm-2">
                  <input class="form-control form-control-sm" type="text" placeholder="result" value="{{diceroller.results.d6}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <!-- d8 -->
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <!-- ng-disabled="diceroller.amnt.d8 == null || diceroller.amnt.d8 == 0" -->
                      <button style="width: 50px;" type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(8)">d8</button>
                    </div>
                    <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amnt" ng-model="diceroller.amnt.d8">
                  </div>
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d8" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d8" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d8" placeholder="modifier">
                </div>
                <div class="col-sm-2">
                  <input class="form-control form-control-sm" type="text" placeholder="result" value="{{diceroller.results.d8}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <!-- d10 -->
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <!-- ng-disabled="diceroller.amnt.d10 == null || diceroller.amnt.d10 == 0" -->
                      <button style="width: 50px;" type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(10)">d10</button>
                    </div>
                    <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amnt" ng-model="diceroller.amnt.d10">
                  </div>
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d10" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d10" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d10" placeholder="modifier">
                </div>
                <div class="col-sm-2">
                  <input class="form-control form-control-sm" type="text" placeholder="result" value="{{diceroller.results.d10}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <!-- d100 -->
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <!-- ng-disabled="diceroller.amnt.d100 == null || diceroller.amnt.d100 == 0" -->
                      <button style="width: 50px;" type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(100)">d100</button>
                    </div>
                    <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amnt" ng-model="diceroller.amnt.d100">
                  </div>
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d100" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d100" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d100" placeholder="modifier">
                </div>
                <div class="col-sm-2">
                  <input class="form-control form-control-sm" type="text" placeholder="result" value="{{diceroller.results.d100}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <!-- d12 -->
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <!-- ng-disabled="diceroller.amnt.d12 == null || diceroller.amnt.d12 == 0" -->
                      <button style="width: 50px;" type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(12)">d12</button>
                    </div>
                    <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amnt" ng-model="diceroller.amnt.d12">
                  </div>
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d12" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d12" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d12" placeholder="modifier">
                </div>
                <div class="col-sm-2">
                  <input class="form-control form-control-sm" type="text" placeholder="result" value="{{diceroller.results.d12}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <!-- d20 -->
          <div class="form-row form-group">
            <div class="col">
              <div class="form-row form-group">
                <div class="col">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <!-- ng-disabled="diceroller.amnt.d20 == null || diceroller.amnt.d20 == 0" -->
                      <button style="width: 50px;" type="button" class="btn btn-info btn-sm btn-block" ng-click="diceroller.roll(20)">d20</button>
                    </div>
                    <input class="form-control form-control-sm" type="number" step="any" min="0" placeholder="amnt" ng-model="diceroller.amnt.d20">
                  </div>
                </div>
                <div class="col-fixed">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d20" btn-radio="'plus'">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </label>
                    <label class="btn btn-info" ng-model="diceroller.radioModifier.d20" btn-radio="'minus'">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <input class="form-control form-control-sm" type="number" step="any" min="0" ng-model="diceroller.modifier.d20" placeholder="modifier">
                </div>
                <div class="col-sm-2">
                  <input class="form-control form-control-sm" type="text" placeholder="result" value="{{diceroller.results.d20}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <!-- Results -->
          <div class="form-row form-group">
            <div class="col">
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-sm" ng-disabled="diceroller.totalDisabled()">Roll all</button>
                <button type="button" class="btn btn-light btn-sm ng-cloak" ng-hide="diceroller.clearButton" ng-click="diceroller.clear()">Clear</button>
              </div>
            </div>
            <div>
              <div class="col" ng-if="diceroller.total != null">
                <p>
                  <strong>Total:</strong> {{diceroller.total}}</p>
              </div>
            </div>
          </div>
          <!-- ng-if="diceroller.total" -->
          <div class="form-row form-group" ng-if="diceroller.showResultsArea">
            <div class="col">
              <label for="resultsHistory">
                <strong>Results</strong>
              </label>
              <!--<textarea id="resultsHistory" class="form-control" rows="4" readonly>{{diceroller.results.d4}} + {{diceroller.results.d6}} + {{diceroller.results.d8}} + {{diceroller.results.d10}} + {{diceroller.results.d100}} + {{diceroller.results.d12}} + {{diceroller.results.d20}}</textarea>-->
              <textarea id="resultsHistory" class="form-control" rows="4" readonly>{{diceroller.rollResults}}</textarea>
            </div>
          </div>

        </form>
      </div>



    </div>
  </div>
</div>

</div>